:root {
  --primary-font: Trebuchet MS, sans-serif;
  --secondary-font: Georgia, serif;
  --rose-quartz: #af9ab2;
  --jet-gray: #363537;
  --emerald: #35ce8d;
  --moonstone: #64a6bd;
  --sandy-brown: #fa9f42;
  --rich-black: #171a21;
  --vivid-sky-blue: #57c4e5;
  --pigment-green: #4daa57;
  --celadon: #b5dda4;
  --teal: #028090;
  --mint-blue: #c7ede4;
  --mint-blue: #d5fff3;
}

body {
  font-family: var(--secondary-font);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--primary-font);
}
header, footer {
  background-color: var(--rose-quartz);
  color: white;
}

footer {
  padding: 20px;
}

header {
  padding: 20px 20px 0;
}

main {
  padding: 20px;
}

a {
  color: var(--pigment-green);
}

a:visited, a:active {
  color: var(--teal);
}

a:hover, a:focus {
  color: var(--emerald);
}

.content {
  max-width: 1000px;
  margin: 0 auto;
}

section {
  margin-bottom: 20px;
}

.week {
  margin-bottom: 15px;
}

h2 {
  margin-bottom: 10px;
}

h3 {
  margin-bottom: 5px;
}

.menu {
  background-color: var(--jet-gray);
  margin: 0 -20px 0;
  padding: 0 20px;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  list-style: none;
  padding: 7.5px 0px;
  line-height: 2.5;
  column-gap: 20px;
}

.menu a {
  color: #fff;
}

.menu li {
  min-width: 50px;
}

.menu-button {
  background-color: unset;
  border: 0;
  font-size: 1.2em;
  padding: 0;
  line-height: 1.2em;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: var(--jet-gray);
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.hide {
  display: none;
}

.header-row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  column-gap: 15px;
}

@media screen and (min-width: 1000px) {
  .menu ul {
    padding: 7.5px 0;
  }
  .menu li {
    padding: 0;
  }
  .menu-button {
    display: none;
  }
}